/**
  * Version: 1.0
  * Author: Tran Thanh Phuoc Manh
  * Author URI: fb.com/phuocmanhit.dev
**/
/* CL */
:root {
    --primary-color: #5f2dde;
    --secondary-color: #f4f2f9;
    --tertiary-color: #6c6a72;
}
.col-md-4,
.col-lg-2,
.col-6 {
    padding: 0;
}
.topbar-infor > li > i,
.topbar-right > p > i,
.icon-call > i,
.blog-card-comment > a > i,
.navigation-menu-footer > li > i {
    color: var(--primary-color);
}

.topbar-infor > li > span,
.header-nav-list > li > a,
.header-right-contact > a,
.blog-card-comment > a {
    color: var(--tertiary-color);
}
.header-right-infor {
    background-color: var(--primary-color);
}
.header-right-contact {
    background-color: var(--secondary-color);
}
/* ----- */
.container-fluid {
    padding: 0;
}
/* --Topbar-- */
.topbar-inner {
    display: flex;
    background-color: var(--secondary-color);
    padding-left: 50px;
}
.topbar-infor {
    display: flex;
}
.topbar-infor > li {
    padding-right: 30px;
}

.topbar-right {
    margin-left: auto;
    display: flex;
}
.topbar-right > p {
    padding-right: 50px;
}
.topbar-social {
    display: flex;
    background-color: white;
    padding-left: 50px;
}
.topbar-social > li > a > i {
    padding-right: 30px;
    color: black;
}
/* -- Header -- */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header-inner {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; */
}
.logo {
    margin-left: 50px;
}
.header-nav-item {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.52px;
}
.header-nav > ul > li {
    padding-right: 38px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
.header-right-infor {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 420px;
    height: 100px; */
    /* margin-left: 80px; */
    padding: 28px 50px;
    /* padding: 50px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.icon-call {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 42px;
    background-color: white;
}
.header-right-content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 18px;
    border-right: 1px solid var(--tertiary-color);
}
.header-right-content > span {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
}
.header-number-call {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.header-infor-item > a {
    color: white;
    padding-left: 20px;
}
/* --Header Sub Nav */
.header-sub-nav {
    display: none;
    position: absolute;
    flex-direction: column;
    min-width: 200px;
    top: 100%;
    left: 0;
    border-radius: 20px;
    background-color: #d9d9d9;
    padding: 20px 20px 10px 20px;
    opacity: 0;
    transform: translateY(-100%);
    transition:
        transform 1s ease-in-out,
        opacity 1s ease-in-out;
}
.sub-nav-item {
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
}
.sub-nav-item > a {
    color: #6c6a72;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    width: auto;
    padding-left: 5px;
}
.header-nav-item:hover > .header-sub-nav {
    display: block;
    transform: translateY(0%);
    opacity: 1;
}
.sub-nav-item:hover {
    background-color: white;
}
/* Header Mobile */
.header-mobile {
    justify-content: center;
    align-items: center;
    display: none;
}
.header-mobile > i {
    /* height: 28px;
    width: 28px; */
    color: rgb(0, 0, 0);
    padding-left: 10px;
}
.header-mobile-2 {
    display: none;
    padding-right: 15px;
}
.nav-mobile {
    position: fixed;
    /* display: none; */
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 1;
    right: 0;
    width: 400px;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    transform: translateX(100%);
}
.nav-mobile-close {
    /* position: absolute; */
}
.nav-item-moblie {
    padding: 20px 0px;
}
.nav-item-moblie > a {
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1400px) {
    /* .header-mobile {
        display: block;
        margin-right: 20px;
    } */

    .header-right-contact {
        display: none;
    }
}
@media (max-width: 1290px) {
    .main-menu {
        display: none;
    }
    .topbar-inner {
        display: none;
    }
    .header-mobile {
        display: flex;
    }
    /* .header-right-infor{
        float: left;
    } */
}
@media (max-width: 991px) {
    .footer-cl {
        padding-bottom: 20px;
    }
    .fw-7 {
        margin-bottom: 10px;
    }
}
@media (max-width: 615px) {
    .header-right-infor {
        display: none;
    }
    .header-mobile-2 {
        display: block;
    }
    .footer-cl {
        padding-left: 20px;
    }
}
/* --Page------------ */
.page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/blogdetail.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 0 15px; */
    /* height: 398px; */
    margin-bottom: 120px;
}
.page-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 398px;
}
.page-header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nionx-breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #ffffff;
}
.nionx-breadcrumb > li,
.nionx-breadcrumb > li > a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 47px;
}
.nionx-breadcrumb > li > span::before {
    content: "/";
    padding: 0px 2px;
}
/* --Blog Details------------- */
.entry {
    /* width: 100%; */
    padding-bottom: 120px;
}
.entry-image {
    /* display: flex; */
    position: relative;
}
.entry-image > img {
    /* position: relative; */
    /* z-index: -1; */
}
/* .date-day {
    display: flex;
    position: absolute;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.04px;
    text-align: left;
    justify-content: center;
    width: 107px;
    height: 88px;
    background-color: #5f2dde;
    border-radius: 40px 0px 40px 0px;
}
.date-month-year {
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
} */
.main-post {
    margin-top: 30px;
}
.entry-meta {
    padding-bottom: 20px;
}
.entry-meta > span {
    padding-right: 15px;
}
.entry-meta > span > i {
    padding-right: 3px;
    color: #5f2dde;
}
.entry-content {
    width: 100%;
}
.entry-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: left;
}
.entry-description {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    /* padding-bottom: 40px; */
}
.description-1 {
    padding-bottom: 40px;
}
.entry-post-in {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    width: 100%;
    height: 100px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.entry-post-in > div > span {
    /* font-family: Instrument Sans; */
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.post-in {
    display: flex;
    align-items: center;
}
.post-in > ul {
    display: flex;
    justify-content: space-between;
}
.post-in > ul > li {
    background-color: #5f2dde;
    border-radius: 16px;
    padding: 14px 0px;
    margin: 0px 10px;
}
.post-in > ul > li > a {
    padding: 0px 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.52px;
    text-align: left;
}
.tags-2 {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #6c6a72;
}

.comment-list-wrap {
    /* width: 100%; */
}
.comment-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.03em;
    /* text-align: left; */
    padding-bottom: 40px;
}
.comment {
    display: inline-flex;
    /* width: auto; */
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d9d9d9;
}

.comment-detail {
    margin-left: 30px;
    /* width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment-author {
    /* font-family: Instrument Sans; */
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}
.comment-body {
    /* font-family: Plus Jakarta Sans; */
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #6c6a72;
}
.comment-reply {
    /* width: auto; */
    width: 87px;
    height: 40px;
    background-color: #f4f2f9;
    /* border: 1px none #f4f2f9; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-reply > a {
    font-size: 16px;
    font-weight: 500;
    color: #6c6a72;
}
/* --Respond Comment-- */
.form-group {
    /* display: flex; */
}

.form-name {
    float: left;
}
.form-email {
    float: right;
}
.form-name,
.form-email {
    width: 100%;
}
.form-control {
    width: auto;
    border: none;
}
.form-control > input {
    border-radius: 20px;
    background-color: #f4f2f9;
}
/* .form-control_full {
    height: auto;
    border-radius: 20px;
    background-color: #f4f2f9;
} */
#submit {
    width: 216px;
    height: 56px;
    background-color: #5f2dde;
    border-radius: 20px;
    color: white;
    border: none;
}
/* ---Sidebar area */
.widget-title {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #5f2dde;
}
.widet-search {
    display: flex;
    /* width: 100%; */
    /* height: 120px; */
    background-color: #f4f2f9;
    justify-content: space-between;
    /* height: 100%; */
    /* margin-bottom: 20px; */
}
#search-form {
    display: flex;
    align-items: center;
    width: 100%;
    /* margin: 30px; */
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #ffffff;
}
#search-form > i {
    padding-left: 20px;
    /* height: 50px;
    width: 50px; */
}

.widget-area > div {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25);
}
/* --Latest Post */
/* .widget-lastest-list > li {
    padding: 30px 0px 20px 0px;
} */

.lastest-item {
    display: flex;
    margin: 20px 0px;
    position: relative;
}
.lastest-item-image > img {
    transition: filter 0.4s ease-in-out;
}
.lastest-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.lastest-item-meta > a {
    /* font-family: Instrument Sans; */
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #6c6a72;
}
.lastest-item-title {
    /* font-family: Instrument Sans; */
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.52px;
    /* text-align: left; */
    /* width: 196px; */
    height: auto;
    /* box-sizing: border-box;   */
}
.category-list-item > a {
    /* font-family: Instrument Sans; */
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    color: #6c6a72;
    /* padding: 16px 0px; */
}
.category-list-item > i {
    color: #5f2dde;
}
.category-list-item {
    padding: 16px 0px;
    border-bottom: 1px solid #ebe6de;
    transition: padding 0.4s ease-in-out;
}
.tag-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.tag-item > a {
    /* font-family: Instrument Sans; */
    font-size: 16px;
    font-weight: 500;
    color: #6c6a72;
    width: auto;
    height: 40px;
    /* margin: 15px; */
    padding: 8px 16px 10px 16px;
    border-radius: 10px;
    background-color: #f4f2f9;
}
/* ---Comment Widget */
.widget-cmt-item {
    display: flex;
    padding-bottom: 30px;
    /* justify-content: flex-start; */
    transition: color 1s ease-in-out;
}
.cmt-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: #f4f2f9;
    border-radius: 39px;
    transition: background-color 0.4s ease-in-out;
}
.cmt-icon > i {
    color: #6c6a72;
    transition: backgroucolor 0.4s ease-in-out;
}
.cmt-chat {
    width: 285px;
}
.cmt-chat > a {
    color: #6c6a72;
    font-size: 16px;
    font-weight: 500;
}
/* ----Hover----- */

.post-in > ul > li:hover {
    background-color: black;
    transition: background-color 0.5s ease-in-out;
}
.comment-reply:hover {
    /* color: white; */
    background-color: #5f2dde;
    transition: background-color 1s ease-in-out;
}
.comment-reply:hover a {
    color: white;
}
/* Widget Cmt Hover */
.widget-cmt-item:hover .cmt-icon {
    background-color: #5f2dde;
}
.widget-cmt-item:hover .cmt-icon > i {
    color: white;
}
.category-list-item:hover {
    padding-left: 15px;
}
/* --Hover Lastest Post */
.widget-lastest-list > li:hover .lastest-item-image > img {
    filter: brightness(0.5);
}
.lastest-item-title:hover {
    /* color: rgb(0, 0, 0); */
    transition: color 1s ease;
}
.lastest-item-title::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.lastest-item-title:hover::after {
    visibility: visible;
    width: 100%;
}
/* --Hover Button */
#submit:hover {
    background-color: black;
    transition: background-color 0.8s ease-in-out;
}
/* ---Hover Tag Wrap */
.tag-item > a:hover {
    background-color: #5f2dde;
    color: white;
    transition: color 0.8s ease-in-out;
    transition: background-color 1s ease-in-out;
}

/* --Footer ------ */
.footer {
    background-color: #1d1729;
    background-image: url(/images/background-footer.png);
    width: auto;
    height: 100%;
    background-image: cover;

    gap: 0px;
    opacity: 0.02px;
}
.content-footer-top {
    border-bottom: 1px solid #342e3e;
    padding: 70px 0 43px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-social > li > a > i {
    color: #ffffff;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.6s ease;
}
.list-social > li {
    background-color: #2f2a39;
    width: 36px;
    height: 36px;
    margin-left: 20px;
    /* align-items: center; */
    border-radius: 14px;
    transition: background-color 0.6s ease;
}
.footer {
    width: 100%;
}
.inner-footer {
    padding-top: 80px;
    padding-bottom: 125px;
}

.fw-7 {
    font-size: 18px;
    font-weight: 700;
    line-height: 29.41px;
    text-align: left;
    /* margin-bottom: 30px; */
}
.navigation-menu-footer {
    /* display: flex; */
    text-align: left;
}
.navigation-menu-footer > li {
    font-size: 16px;
    font-weight: 600;
    line-height: 29.41px;
    text-align: left;
}
.navigation-menu-footer > li > p {
    color: #a49eb5;
}
.navigation-menu-footer > li > a {
    color: #a49eb5;
    position: relative;
}
.sub-content > input {
    width: 370px;
    height: 60px;
    background-color: #000;
    /* padding: 0px 245px 0px 30px; */
    /* gap: 0px; */
    border-radius: 20px;
    /* opacity: 0px; */
}
.button-subcribe {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    width: 157px;
    height: 56px;
    border-radius: 20px;
    color: white !important;
    background-color: #5f2dde;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    transition: all 0.3s ease;
}
.bottom-footer {
    background-color: #110e16;
    max-width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-footer-bottom > span {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    color: #a49eb5;
}
/* ------CSS Hover---------- */
.list-social > li:hover {
    background-color: white;
}
.list-social > li:hover > a > i {
    color: #5f2dde;
}
.navigation-menu-footer > li > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.navigation-menu-footer > li > a:hover {
    color: white;
    transition: color 1s ease;
}
.navigation-menu-footer > li > a:hover::after {
    visibility: visible;
    width: 100%;
}

.button-subcribe::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    /* visibility: hidden; */
    /* color: white; */
    color: white;
    background-color: #000000;
    transition: all 0.3s ease;
}
.button-subcribe:hover::after {
    left: 0;
    /* visibility: visible; */
}
.button-subcribe:hover {
    color: white !important;
    /* background-color: black; */
}
