/**
  * Name: Medicare
  * Version: 1.0
  * Author: Tran Thanh Phuoc Manh
  * Author URI: fb.com/phuocmanhit.dev
**/
/* CL */
:root {
    --primary-color: #5f2dde;
    --secondary-color: #f4f2f9;
    --tertiary-color: #6c6a72;
}
.topbar-infor > li > i,
.topbar-right > p > i,
.icon-call > i,
.blog-card-comment > a > i,
.navigation-menu-footer > li > i {
    color: var(--primary-color);
}

.topbar-infor > li > span,
.header-nav-list > li > a,
.header-right-contact > a,
.blog-card-comment > a {
    color: var(--tertiary-color);
}
.header-right-infor {
    background-color: var(--primary-color);
}
.header-right-contact {
    background-color: var(--secondary-color);
}
/* ----- */
.container-fluid {
    padding: 0;
}
/* --Topbar-- */
.topbar-inner {
    display: flex;
    background-color: var(--secondary-color);
    padding-left: 50px;
}
.topbar-infor {
    display: flex;
}
.topbar-infor > li {
    padding-right: 30px;
}

.topbar-right {
    margin-left: auto;
    display: flex;
}
.topbar-right > p {
    padding-right: 50px;
}
.topbar-social {
    display: flex;
    background-color: white;
    padding-left: 50px;
}
.topbar-social > li > a > i {
    padding-right: 30px;
    color: black;
}
/* -- Header -- */
.main-header-inner,
.header-nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-left: 50px;
}
.header-nav > ul > li {
    padding-right: 38px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
.header-right-infor {
    display: flex;
    align-items: center;
    padding: 28px 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.icon-call {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 42px;
    background-color: white;
}
.header-right-content {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 18px;
    border-right: 1px solid var(--tertiary-color);
}
.header-right-content > span {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
}
.header-number-call {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.header-infor-item > a {
    color: white;
    padding-left: 20px;
}
/* --Page------------ */
.page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/blogdetail.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 0 15px; */
    /* height: 398px; */
    margin-bottom: 120px;
}
.page-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 398px;
}
.page-header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nionx-breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #ffffff;
}
.nionx-breadcrumb > li,
.nionx-breadcrumb > li > a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 47px;
}
.nionx-breadcrumb > li > span::before {
    content: "/";
    padding: 0px 2px;
}
/* --Blog------------- */
.flat-section {
    height: 100%;
}
.blog-card {
    position: relative;
    padding-bottom: 30px;
}
.blog-card-image > img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 100%;
}
.blog-card-content {
    position: relative;
    border-radius: 40px;
    border: 1px solid #d9d9d9;
    margin-top: -100px;
    background-color: white;
    padding: 16px 28px 25px 30px;
}
.blog-card-meta {
    display: flex;
}
.blog-card-date {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 70px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -50px;
}
.blog-card-comment {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}
.blog-card-title {
    padding-bottom: 20px;
}
.blog-card-title > a {
    /* font-family: Instrument Sans; */
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: black;
}
.blog-card-read__more {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    padding: 20px 0;
    border-top: 1px solid #6c6a72;
}
/* --Footer ------ */
.footer {
    background-color: #1d1729;
    background-image: url(/images/background-footer.png);
    width: auto;
    height: 600px;

    gap: 0px;
    opacity: 0.02px;
}
.content-footer-top {
    border-bottom: 1px solid #342e3e;
    padding: 70px 0 43px 0;
}
.wd-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.list-social > li > a > i {
    color: #ffffff;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.6s ease;
}
.list-social > li {
    background-color: #2f2a39;
    width: 36px;
    height: 36px;
    margin-left: 20px;
    /* align-items: center; */
    border-radius: 14px;
    transition: background-color 0.6s ease;
}
.inner-footer {
    padding-top: 80px;
    padding-bottom: 125px;
}

.fw-7 {
    font-size: 18px;
    font-weight: 700;
    line-height: 29.41px;
    text-align: left;
    /* margin-bottom: 30px; */
}
.navigation-menu-footer {
    padding-top: 30px;
}
.navigation-menu-footer > li {
    font-size: 16px;
    font-weight: 600;
    line-height: 29.41px;
    text-align: left;
}
.navigation-menu-footer > li > p {
    color: #a49eb5;
}
.navigation-menu-footer > li > a {
    color: #a49eb5;
    position: relative;
}
#subscribe-form {
    padding-top: 30px;
}
.sub-content > input {
    width: 370px;
    height: 60px;
    background-color: #000;
    /* padding: 0px 245px 0px 30px; */
    /* gap: 0px; */
    border-radius: 20px;
    /* opacity: 0px; */
}
.button-subcribe {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    width: 157px;
    height: 56px;
    border-radius: 20px;
    color: white !important;
    background-color: #5f2dde;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    transition: color 0.3s ease;
}
.bottom-footer {
    background-color: #110e16;
    max-width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-footer-bottom > span {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    color: #a49eb5;
}
/* ------CSS Hover---------- */
.list-social > li:hover {
    background-color: white;
}
.navigation-menu-footer > li > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.navigation-menu-footer > li > a:hover {
    color: white;
    transition: color 1s ease;
}
.navigation-menu-footer > li > a:hover::after {
    visibility: visible;
    width: 100%;
}

.button-subcribe::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    /* color: white; */
    background-color: #000000;
    transition: left 0.3s ease;
}
.button-subcribe:hover::after {
    left: 0;
}
.button-subcribe:hover {
    color: white !important;
    /* background-color: black; */
}
