.col-md-6 > img {
    width: 1000px;
    /* height: ; */
}
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-title {
    /* //stylename: 36 / B; */
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

.sub-content-title {
    /* //stylename: 15 / R; */
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding-bottom: 30px;
}
.tag-list > ul > li {
    padding-bottom: 30px;
}
.content-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 183px;
    height: 54px;
    margin-top: 10px;
    background-color: #131836;
    border-radius: 4px;
    cursor: pointer;
}
.content-bottom > a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.tag-list > ul > li {
    display: flex;
    align-items: center;
}
.tag-list > ul > li > img {
    padding-right: 10px;
}
