.entry {
    /* width: 100%; */
    padding-bottom: 120px;
}
.entry-image {
    display: flex;
    /* position: relative; */
}
.entry-image > img {
    /* position: relative; */
    /* z-index: -1; */
}
.date-time-year {
    display: flex;
    position: absolute;
    align-items: center;
    /* font-family: Instrument Sans; */
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.04px;
    text-align: left;
    justify-content: center;
    width: 107px;
    height: 88px;
    background-color: #5f2dde;
    border-radius: 40px 0px 40px 0px;
}
.date-time-year2 {
    /* font-family: Instrument Sans; */
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}
.main-post {
    margin-top: 30px;
}
.entry-meta {
    padding-bottom: 20px;
}
.entry-meta > span {
    padding-right: 15px;
}
.entry-meta > span > i {
    padding-right: 3px;
    color: #5f2dde;
}
.entry-content {
    width: 100%;
}
.entry-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: left;
}
.entry-description {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    /* padding-bottom: 40px; */
}
.description-1 {
    padding-bottom: 40px;
}
.entry-post-in {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    width: 100%;
    height: 100px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.entry-post-in > div > span {
    /* font-family: Instrument Sans; */
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.post-in {
    display: flex;
    align-items: center;
}
.post-in > ul {
    display: flex;
    justify-content: space-between;
}
.post-in > ul > li {
    background-color: #5f2dde;
    border-radius: 16px;
    padding: 14px 0px;
    margin: 0px 10px;
}
.post-in > ul > li > a {
    padding: 0px 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.52px;
    text-align: left;
}
.tags-2 {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #6c6a72;
}

.comment-list-wrap {
    /* width: 100%; */
}
.comment-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.03em;
    /* text-align: left; */
    padding-bottom: 40px;
}
.comment {
    display: inline-flex;
    /* width: auto; */
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d9d9d9;
}

.comment-detail {
    margin-left: 30px;
    /* width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment-author {
    /* font-family: Instrument Sans; */
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}
.comment-body {
    /* font-family: Plus Jakarta Sans; */
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #6c6a72;
}
.comment-reply {
    /* width: auto; */
    width: 87px;
    height: 40px;
    background-color: #f4f2f9;
    /* border: 1px none #f4f2f9; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-reply > a {
    font-size: 16px;
    font-weight: 500;
    color: #6c6a72;
}
/* --Respond Comment-- */
.form-group {
    /* display: flex; */
}

.form-name {
    float: left;
}
.form-email {
    float: right;
}
.form-name,
.form-email {
    width: 100%;
}
.form-control {
    width: auto;
    border: none;
}
.form-control > input {
    border-radius: 20px;
    background-color: #f4f2f9;
}
/* .form-control_full {
    height: auto;
    border-radius: 20px;
    background-color: #f4f2f9;
} */
#submit {
    width: 216px;
    height: 56px;
    background-color: #5f2dde;
    border-radius: 20px;
    color: white;
    border: none;
}
/* ---Sidebar area */
.widget-title {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #5f2dde;
}
.widet-search {
    display: flex;
    /* width: 100%; */
    height: 120px;
    background-color: #f4f2f9;
    justify-content: space-between;
    /* height: 100%; */
    margin-bottom: 20px;
}
#search-form {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #ffffff;
}
#search-form > i {
    padding-left: 20px;
    /* height: 50px;
    width: 50px; */
}

/* --Latest Post */
/* .widget-lastest-list > li {
    padding: 30px 0px 20px 0px;
} */
.lastest-item {
    display: flex;
    margin: 20px 0px;
    position: relative;
}
.lastest-item-image > img {
    transition: filter 0.4s ease-in-out;
}
.lastest-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.lastest-item-meta > a {
    /* font-family: Instrument Sans; */
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #6c6a72;
}
.lastest-item-title {
    /* font-family: Instrument Sans; */
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.52px;
    /* text-align: left; */
    /* width: 196px; */
    height: auto;
    /* box-sizing: border-box;   */
}
.category-list-item > a {
    /* font-family: Instrument Sans; */
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    color: #6c6a72;
    /* padding: 16px 0px; */
}
.category-list-item > i {
    color: #5f2dde;
}
.category-list-item {
    padding: 16px 0px;
    border-bottom: 1px solid #ebe6de;
    transition: padding 0.4s ease-in-out;
}
.tag-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.tag-item > a {
    /* font-family: Instrument Sans; */
    font-size: 16px;
    font-weight: 500;
    color: #6c6a72;
    width: auto;
    height: 40px;
    /* margin: 15px; */
    padding: 8px 16px 10px 16px;
    border-radius: 10px;
    background-color: #f4f2f9;
}
/* ---Comment Widget */
.widget-cmt-item {
    display: flex;
    padding-bottom: 30px;
    /* justify-content: flex-start; */
    transition: color 1s ease-in-out;
}
.cmt-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: #f4f2f9;
    border-radius: 39px;
    transition: background-color 0.4s ease-in-out;
}
.cmt-icon > i {
    color: #6c6a72;
    transition: backgroucolor 0.4s ease-in-out;
}
.cmt-chat {
    width: 285px;
}
.cmt-chat > a {
    color: #6c6a72;
    font-size: 16px;
    font-weight: 500;
}
/* ----Hover----- */

.post-in > ul > li:hover {
    background-color: black;
    transition: background-color 0.5s ease-in-out;
}
.comment-reply:hover {
    /* color: white; */
    background-color: #5f2dde;
    transition: background-color 1s ease-in-out;
}
.comment-reply:hover a {
    color: white;
}
/* Widget Cmt Hover */
.widget-cmt-item:hover .cmt-icon {
    background-color: #5f2dde;
}
.widget-cmt-item:hover .cmt-icon > i {
    color: white;
}
.category-list-item:hover {
    padding-left: 15px;
}
/* --Hover Lastest Post */
.widget-lastest-list > li:hover .lastest-item-image > img {
    filter: brightness(0.5);
}
.lastest-item-title:hover {
    /* color: rgb(0, 0, 0); */
    transition: color 1s ease;
}
.lastest-item-title::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.lastest-item-title:hover::after {
    visibility: visible;
    width: 100%;
}
/* --Hover Button */
#submit:hover {
    background-color: black;
    transition: background-color 0.8s ease-in-out;
}
/* ---Hover Tag Wrap */
.tag-item > a:hover {
    background-color: #5f2dde;
    color: white;
    transition: color 0.8s ease-in-out;
    transition: background-color 1s ease-in-out;
}
